*.html
/scripts/step02_R_bookdown/_book
/scripts/step02_R_bookdown/_bookdown_files
/scripts/step02_R_bookdown/libs
/scripts/step02_R_bookdown/**/*.html
/scripts/step02_R_bookdown/**/*.bib
/scripts/step02_R_bookdown/.Rproj.user
/scripts/step02_R_bookdown/.Rhistory
/scripts/step02_R_bookdown/.RData
/scripts/step02_R_bookdown/.Ruserdata
!**/mathjax_header.html
