/analysis/fmri
*.DS_Store
*./log*
**/flag/*
/data/dartmouth/
/data/dartmouth/d03_EV_FSL
*.ipynb_checkpoints
*.o
*.e
*.hdr
*.img
*.tcol
*.key
*.ai
/scripts/*/fsl05_jobarraylist.txt
/scripts/step04_SPM/log*
/scripts/step07_glmsingle/examples
/figure/*

