/analysis/fmri
**.DS_Store
**/log*
**/flag/**
**/logcenter/**
/data/dartmouth/
/data/dartmouth/d03_EV_FSL
/data/beh/beh02_preproc/
/data/beh/beh01_raw/
*.ipynb_checkpoints
**/*[.o,.e,.hdr,.img,.tcol,.key,.ai]
/scripts/**/fsl05_jobarraylist.txt
/scripts/step07_glmsingle/examples
/figure/**
/analysis/physio/physio01_SCL/sub-*
/scripts/step04_SPM/*.png
