/analysis/fmri
.DS_Store
log*/
flag/
logcenter/
data/dartmouth/
data/dartmouth/d03_EV_FSL
data/beh/beh02_preproc/
data/beh/beh01_raw/
*.ipynb_checkpoints
*.o
*.e
*.hdr
*.img
*.tcol
*.key
*.ai
*.html
_*.Rmd
/**/fsl05_jobarraylist.txt
/**/examples
/figure/**
/analysis/physio/physio01_SCL/sub-*
/resources/IndividualizedSpatia_DATA_2022-11-07_1730.csv
.Rproj.user
*SPM.mat
